/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
// global-reset()

main-color = #223385
background-color = #faf9f0

body
  font-family 'Quicksand'
  background-color background-color
  color #444

h1
  font-family 'Quicksand'
  font-size 22.5px

label
  font-size 1.25em

header
  padding 50px 10px
  h1
    color #fff
  font-size 30px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.main-content
  margin-top 20px
  p
    margin-bottom 20px

p
  line-height 1.8

ul
  background-color background-color
  li
    background-color background-color

.tab-title
  position relative
  width 50%
  text-align center

.footer
  // width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
